body {

}

h1 {
    color: #0018A4;
}

h4 {
    display: flex;
    align-items: center;
}

.cuisineTime {

    
}

.navBar {
    display: flex;
}

.navBox {
    padding: 1%;
}

.card-container {
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

@media (min-width: 668px) {
    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
}